;; shadow-cljs configuration
{:source-paths
 ["src"
  "test"]

 :nrepl {:port 8777
         :middleware []}

 :dependencies
 []

 :builds
 {:github-search
  {:target :node-library
   :verbose true
   :output-to "out/hello.js"
   :output-dir "out"
   :exports {:hello eamonnsullivan.hello/hello
             :hello-again eamonnsullivan.hello-again/hello-again}}}}
