;; shadow-cljs configuration
{:source-paths
 ["src"
  "test"]

 :nrepl {:port 8777
         :middleware []}

 :dependencies
 [[cljs-http "0.1.46"]]

 :builds
 {:github-search
  {:target :node-library
   :verbose true
   :output-to "out/index.js"
   :output-dir "out"
   :exports {:get-repos eamonnsullivan.github-search/get-repos}}}}
